@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
   --font-style: 'Nunito Sans', sans-serif;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.container{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(istockphoto-504133748-170667a.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 300vh;
}


.body {
   background: white;
   font-family: var(--font-style);
}

.menu{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    
    
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 50px;
    position: relative;
    background-color: aliceblue;

}

.menu ul li a Link{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
}    


.menu ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.menu ul li:hover::after{
    width: 100%;
}




.login-box {
   position: absolute;
   margin-top: 2px;
   top: 65%;
   left: 50%;   
   width: 400px;
   padding: 40px;
   transform: translate(-50%, -50%);
   background: #242026;
   box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
   border-radius: 10px;
}

.login-box h2 {
   margin: 0 0 30px;
   padding: 0;
   color: #fff;
   text-align: center;
}

.login-box .user-box input {
   position: relative;
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid #fff;
   outline: none;
   background: transparent;
}

.login-box .user-box label {
   position: relative;
   left: 0;
   top: -60px;
   padding: 10px 0;
   font-size: 16px;
   color: #fff;
   pointer-events: none;
   transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
   top: -85px;
   left: 0;
   color: #8F7CEC;
   font-size: 12px;
}

#submit {
   padding: 10px 20px;
   color: #CBBDDB;
   font-size: 16px;
   text-decoration: none;
   text-transform: uppercase;
   overflow: hidden;
   transition: .5s;
   letter-spacing: 4px;
   border: 1px solid #8F7CEC;
   margin: auto;
}

#submit:hover {
   background: #8F7CEC;
   color: #fff;
   border-radius: 5px;
   box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
}

.button-form {
   display: flex;
   flex-direction: row;
   margin-top: 20px;
}

#register {
   font-size: 14px;
   text-decoration: none;
   color: #CBBDDB;
   margin: auto;
   width: 60%;
   text-align: center;
}

#register a {
   margin: auto;
   color: #8F7CEC;
   text-decoration: none;
}


.indexfilter{
    position: relative;
    margin-top: 180px;
    margin-bottom: 0;
    top: 45%;
    left: 50%;   
    width: 700px;
    padding: 25px;
    transform: translate(-50%, -50%);
    background: #242026;
    box-shadow: 0 15px 25px rgba(143, 124, 236, 0.7);
    border-radius: 10px;
    color:white
}

.indexfilter select{
    margin-right: 20px;
    position: relative;    
    text-align: left;
}

.indexfilter h2{
    text-align: center;
}

.checkbx{
    align-items: left;
    text-align: left;
}

.checkbx input{
    margin-right: 20px;
}

#searchButton{
    padding: 10px 20px;
    color: #CBBDDB;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    border: 1px solid #8F7CEC;
    margin: auto;
    size: 50px;
}

#searchButton:hover {
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 50px #8F7CEC, 0 0 100px #8F7CEC;
 }



.vehicle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 6%;
    text-align: center;
    align-items: center;
    float:right;
    width: 40%;
    background-color: white;
    justify-content: space-between;
}

.content{
    text-align: center;
    align-items: center;
}
.content h2{
    margin: 0 0 0 0;
    padding: 0;
    color: #fff;
    text-align: center;  
}

#footer{
    color:#888888;
    text-align: center;
    height: 25px;
    border-top:1px solid #eeeeee;
    background-color: aliceblue;
    padding: 5px 10px 25px 10px;            
    position: fixed;
    font-size: medium;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.logo{
    width: 120px;
    cursor: pointer;
}


button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}
  
  
button:hover, a:hover {
    opacity: 0.7;
}

.carFeatureON {
    color: green;
}

.carFeatureOFF {
    color: red;
}

#pagination{
  display: grid;
  grid-template-rows: calc(100vh - 50px) 50px;
}

.navbarPagination{
    background-color: #8F7CEC;
    position: fixed;
    text-align: center;
    bottom: 50px;
    left:38%;
    border-radius: 20px;
}

.navbarPagination:hover {
    background: #8F7CEC;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F7CEC, 0 0 25px #8F7CEC, 0 0 10px #8F7CEC, 0 0 25px #8F7CEC;
    
 }